*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: #FF7A00;
}
.container{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 3rem;
}
form{
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputs{
    width: 800px;
    height: 75px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    border: none;
    background-color: #ff5e0083;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.label{
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.login-signup{
    margin-top: 25px;
    padding: .5rem;
    width: 400px;
    border: none;
    background-color: #FF7A00;
    color: white;
    font-size: 3rem;
    border-radius: 15px;
}

#signup-link{
    font-size: 1.5rem;
    color: black;
}

#welcome{
    padding-bottom: 5rem;
    margin: 1rem;
}
.balance{
    background-color: #FF7A00;
    font-size: 5rem;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

.balance p{
    color: white;
    text-align: center;
}

.dashboard-buttons{
    display: inline-block; 
    width: 25%;
    margin-left: 15rem;
    margin-top: 3rem;
}

